.content{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    border: 5px solid hsl(272, 99%, 46%);
    border-radius: 10px;
    text-align-last: left;
    background-color: #000000;

}
.content-1{
    padding-left: 10px;
 
}
.content-h1{
    /* color: #7F01EA; */
    font-size: 3.5rem;
    font-weight: 800;
    align-items: flex-start;
    text-align-last: left;
    padding-left: 10px;
    text-wrap: wrap;
}
.tree-img{
    width: 40rem;
    
}
.search-cource-inp{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: #161F2C;
    color: white;

}
.sub-content{
    padding: 5px;
    font-size: small;
}
.list-items>a{
    padding: 0;
    color: azure;
    margin: 0;
    text-decoration: none;
}
.button{
   
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}


.task-btn {
    background: linear-gradient(135deg, #4F46E5, #3B82F6);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  .task-btn:hover {
    background: linear-gradient(135deg, #4338CA, #2563EB);
    transform: scale(1.05);
  }

  .task-btn:active {
    transform: scale(0.98);}